<div class="twitter-quota">
  <div class="message">
    Enter search terms split in up to 4 categories to differenciate them with an extra column. The terms will match exactly.
  </div>
  <div class="twitter-progress">
    <p class="small">
      <% if ((quota - monthly_use) > 0) { %>
        <%= cdb.Utils.formatNumber(quota - monthly_use) %> Twitter <br/>credits left
      <% } else { %>
        0 Twitter credits left
      <% } %>
      <i class="icon help" title="
        <% if ((quota - monthly_use) > 0) { %>
          <% if (!hard_limit) { %>
            After available credits, each <%= block_size %> new tweets will cost $<%= block_price/100 %>.
          <% } else { %>
            Your table will have as max rows as your available credits.
          <% } %>
        <% } else { %>
          <% if (!hard_limit) { %>
            You have no more Twitter credits left, you will be charged $<%= block_price/100 %>/<%= cdb.Utils.formatNumber(block_size) %> tweets from now on this billing period.
          <% } %>
        <% } %>
      ">?</i>
    </p>

    <div class="progress-bar">
      <% var type = '', per = 0 %>
      <% if (quota === null || quota === 0 || monthly_use === null) { per = 100 } else { per = ( monthly_use * 100 ) / quota } %>
      <% if (per > 75) { type = per > 90 ? 'danger' : 'caution' } %>
      <span class="bar-2 <%= type %>" style="width:<%= per %>%"></span>
    </div>
  </div>
</div>
<div class="margin20">
  <div class="twitter-categories"></div>
  <div class="twitter-date"></div>
  <div class="infobox"></div>
</div>
<div class="twitter-terms">
  <p>By clicking on 'Create table' you are accepting the <a href="http://cartodb.com/terms#twitter" target="_blank">terms and conditions</a> for Twitter data.</p>
</div>