
  /**
   *  Create dialog content styles
   *
   *  - Tabs styles
   *  - Panes styles
   *
   */
  
  @import "compass/css3/background-size";
  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "compass/css3/images";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "../../common/mixins";
  @import "../../common/vars";
  @import "../../elements/elements-sprite";
  @import "../../common/common-sprite";


  .create-dialog-content {

    ///////////
    // Tabs! //
    ///////////

    .create-tabs {
      position:relative;
      // Arg!!!!important :()
      display: -webkit-box!important;
      display: -moz-box!important;
      display: -ms-flexbox!important;
      display: -webkit-flex!important;
      display: flex!important;
      @include justify-content(space-between, justify);
      @include align-items(center, center);
      padding:0 25px;
      z-index:1;

      border-bottom:1px solid #CCCCCC;
    }

    .create-tab {
      position:relative;
      width:90px;
      height:110px;
      border:none!important;

      &.success {
        display:none;
      }

      a {
        @include display-flex();
        @include cross-browser(flex-direction,column);
        @include align-items(center,center);
        font-size:13px;
        text-align:center;
        @include transform-style("linear");
        @include transition-property("opacity,margin");
        @include transition-duration(450ms);

        span { display:block }

        // TYPES
        &.error {
          @include opacity(0);
          margin-top:10px;
          color:#FF7272!important;
          font-size:15px;
        }

        // Disabled state
        &.disabled {
          @include opacity(0.5);
          text-decoration: none;

          &:hover { cursor:default }
        }

        // Selected state
        &.selected {
          color:black;
          text-decoration: none;

          &:hover {
            cursor:default;
            color:inherit;
            color:black;
          }

          &:before, &:after {
            content: '';
            position:absolute;
            left:50%;
            width:0;
            height:0;
            margin-left:-18px;
            border-left:18px solid transparent;
            border-right:18px solid transparent;
          }

          &:before {
            bottom:0;
            border-bottom:18px solid #CCC;
            z-index:1;
          }

          &:after {
            bottom:-1px;
            border-bottom:18px solid #F6F6F6;
            z-index:2;
          }
        }

        // Show state
        &.show {
          margin-top:0px;
          @include opacity(1);
          z-index:1;
        }

        // Hide state
        &.hide {
          margin-top:-30px;
          @include opacity(0);
          z-index:0;
        }
      }

      // Create icon
      .create-icon {
        @include inline-block();     
        width:29px;
        height:38px;
        margin-bottom:18px;

        &.file { @include elements-sprite(create-tabs-icons) }

        &.gdrive {
          width:40px;
          @include elements-sprite(create-tabs-icons, $offset-x:-29px);
        }

        &.dropbox {
          width:40px;
          @include elements-sprite(create-tabs-icons, $offset-x:-69px); 
        }

        &.twitter {
          width:41px;
          @include elements-sprite(create-tabs-icons, $offset-x:-109px);
        }

        &.scratch {
          width:29px;
          @include elements-sprite(create-tabs-icons, $offset-x:-150px);
        }

        &.layer {
          width:32px;
          @include elements-sprite(create-tabs-icons, $offset-x:-179px);
        }

        &.error {
          width:42px;
          @include elements-sprite(create-tabs-icons, $offset-x:-211px); 
        }
        
      }
    }

    // Error tab!
    .create-tab.error {
      position:absolute;
      top:0;
      left:0;
      display:none;
      width:100%;
      z-index:-1;
    }


    // Content
    .create-content {
      position:relative;
      padding:40px;
      background:#F6F6F6;
      z-index:2;

      // When fixed class is set, elements out
      // of bounds will be hidden
      &.fixed {
        overflow:hidden;
      }

      // When compressed class is set, top and bottom
      // element padding is not 40px
      &.compressed {
        padding:20px 40px;
      }
    }


    ////////////
    // Panes! //
    ////////////
    .create-panes {
      background:#F6F6F6;

      // Import
      .import-pane {
        padding:0!important;
        margin:0!important;

        form.upload {

          .upload {
            margin-top:0;

            input.url-input {
              width:445px;
            }
          }

          .infobox {
            div.info.active { margin-top:-18px }
          }
        }
      }

      // Import twitter disabled
      .twitter-message-pane {

        div.canvas {
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          @include background(image-url("layout/twitter_disabled.png") no-repeat -15px 5px);
          z-index:0;
        }

        div.message {
          position:relative;
          display:block;
          padding-left:285px;
          z-index:0;

          p {
            font-size:14px;
            line-height:18px;
          }
        }
      }

      // Scratch
      .create-empty {
        margin-top:-20px; // HA!
      }

      // Success
      .create-success {

        p {
          color: #666666;
          text-align:center;
          font-size:15px;
        }

        i {

          &.twitter {
            @include common-sprite(twitter_import_success);
          }

          display:block;
          margin: 0 auto 20px auto;
          width: 45px;
          height: 38px;
        }

      }

      // error
      .create-error {

        div.item_queue_id {
          position:absolute;
          display:none;
          left:40px;
          bottom:-35px;
          width:265px;

          a {
            color: #999;
            text-decoration:underline;
            &:hover { color:#666 }   
          }
        }
      }
    }

    //////////////
    // progress //
    //////////////

    .create-progress {
      display:none;
      height:0;
      margin-top:30px;
      @include opacity(0);
    
      .progress-bar {
        position:relative;
        width:160px;
        height:12px;
        margin:0 auto;
        @include background(#dedede);
        @include border-radius(2px);
      }

      .progress-total {
        display:block;
        height:100%;
        width:2%;
        background-color:#5290d0;
        @include box-sizing(border-box);
        @include background-size(12px 12px);
        @include border-radius(2px);
        @include progress-background(rgba(74, 132, 194, 1));
        -webkit-animation:progress 1.5s linear infinite;
        -moz-animation:progress 1.5s linear infinite;
        -ms-animation:progress 1.5s linear infinite;
        animation:progress 1.5s linear infinite;
        overflow: hidden;
      }

      .progress-text {
        @include display-flex();
        @include justify-content(center, center);
        @include align-items(center, center);
        margin-top:15px;
      }

      .message {
        text-align:center;
        font-size:15px;
        color:#666666;
      }

      .progress-stop {
        display:none;
        margin-left:7px;
        color:#666;
      }

    }
  }






  // Keyframes for progress bar
  @-webkit-keyframes progress{
    0% {background-position: 0 0;}
    100% {background-position: 30px 30px;}
  }
  @-moz-keyframes progress{
    0% {background-position: 0 0;}
    100% {background-position: 30px 30px;}
  }
  @-ms-keyframes progress{
    0% {background-position: 0 0;}
    100% {background-position: 30px 30px;}
  }
  @keyframes progress{
    0% {background-position: 0 0;}
    100% {background-position: 30px 30px;}
  }
