
  /**
   *  Twitter import pane styles
   *
   *  - Error info
   *  - Warning message, etc...
   */

  @import "compass/css3/inline-block";
  @import "common/mixins";
  @import "common/form-elements";
  @import "elements/progress-bar";

  .import-twitter-pane {

    @include default-form-info();

    .twitter-categories,
    .twitter-date {
      position:relative;
      z-index:1
    }

    .twitter-quota {
      @include display-flex();
      @include justify-content(space-between, justify);
      @include align-items(center, center);

      .message {
        width:342px;
        color:#999;
        font-size:13px;
        line-height:16px;
      }

      .twitter-progress {
        @include display-flex();
        @include cross-browser(flex-direction,column);
        @include justify-content(center,center);
        width:143px;
        height:48px;
        padding-left:10px;
        border-left: 1px solid #CCCCCC;

        @include progress-bar(4px, 3px, true, 3px);

        div.progress-bar {
          margin-top:7px;
          span.bar-2 { z-index:1 }
        }
        
        i.icon.help {
          @include inline-block();
          width:13px;
          height:13px;
          @include border-radius(13px);
          background:#CCC;
          text-align:center;
          line-height:14px;
          font-weight:300;
          font-size:9px;
          color:white;
          
          &:hover {
            background:#999;
            cursor:pointer;
          }
        }
      }
    }

    .twitter-terms {
      position:absolute;
      bottom:-73px;
      left:0;
      width:242px;
      font-size:11px;
      p { color:#999999 }
      a { text-decoration:underline }
    }
    
    
    div.infobox {
      z-index:0;

      div.info.active {
        margin-top:-10px;
      }
    }

  }