<ul class="create-tabs"></ul>

<div class="create-content">
  <div class="create-panes"></div>

  <div class="create-progress">
    <div class="progress-bar">
      <span class="progress-total"></span>
    </div>
    <div class="progress-text">
      <p class="message">Uploading your data</p>
      <span class="progress-stop">
        (<a href="#/stop-process" class="stop">stop</a>)
      </span>
    </div>
  </div>
</div>